* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;

    --color-gray-100: #edf2f7;
    --color-gray-800: #1a202c;

    --color-red-100: #FED7D7;
    --color-red-200: #feb2b2;
    --color-red-500: #e53e3e;
    --color-red-800: #822727;
    --color-red-900: #63171b;
}

body {
    color: var(--color-gray-100);
    background-color: #1a202c;
    font-family: "Noto Sans JP", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .header p {
    margin-top: 8px;
}

.container .header h1,
.container .header p {
    text-align: center;
}

.content {
    text-align: center;
    width: 940px;
    margin: 0 auto;
    background-color: var(--color-red-500);
    margin-top: 32px;
    border-radius: 8px;
    padding: 16px 0;
}

.content div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content div span {
    margin-right: 16px;
}

.content p {
    font-size: 14px;
    color: var(--color-red-200);
}

.main {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 32px;
    width: 50%;
}

.form .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
}

.form .input,
.select {
    height: 50px;
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-family: "Noto Sans JP", sans-serif;
}

.form .select {
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right
        var(--color-white);
    -webkit-appearance: none;
    background-position-x: 80%;
    width: 25%;
}

.form .input:focus,
.form .select:focus {
    border: 2px solid var(--color-red-800);
    box-shadow: 0 0 3px var(--color-red-800);
    outline-offset: 0px;
    outline: none;
}

.option {
    background-color: var(--color-red-800);
    color: var(--color-gray-100);
}

.form .button {
    height: 50px;
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 8px;
    background-color: var(--color-red-800);
    color: var(--color-gray-100);
    cursor: pointer;
    transition: background-color 0.2s;
}

.form .button:hover {
    background-color: var(--color-red-900);
}

.section {
    margin: 32px;
    width: 50%;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--color-red-100);
}

.section .title .icon {
    color: var(--color-red-500);
    margin-right: 8px;
}

.section .h2 {
    color: var(--color-gray-800);
}

.section .ul {
    overflow: auto;
    max-height: 299px;
}

.section .ul::-webkit-scrollbar {
    width: 12px;
}

.section .ul::-webkit-scrollbar-track {
    background: var(--color-gray-100);
}

.section .ul::-webkit-scrollbar-thumb {
    background-color: var(--color-red-500);
}

.section .li {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    background-color: var(--color-gray-100);
    border: 1px solid var(--color-gray-800);
    border-radius: 32px;
    margin: 16px 0;
    padding: 10px 0;
    transition: background-color 0.2s;
}

.section .a {
    text-decoration: none;
    color: var(--color-gray-800);
    font-size: 20px;
    cursor: pointer;
}

.section .a .li .bloodType {
    padding: 0 0 0 20px;
    margin-right: 32px;
    font-weight: bold;
    color: var(--color-red-500);
}

.section .a .li .userName {
    padding: 0 20px 0 0;
}

.section .li:hover {
    background-color: var(--color-red-200);
}
